.button {
    background-color: #4CAF50;
    color: yellow;
    width: 225px;
    height: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    background-color: #4CAF50;
    border-radius: 8px;
    border-color: yellow;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-left: 10%
  }

  .button:hover {
    background-color:yellow; 
    color:  #4CAF50;
    border-color: #4CAF50;
  }

  #logo{
      height: 400px;
      position: absolute;
      margin-left: 30%;
  }

  #stats{
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      color: chartreuse;
      margin-left: 10%;
      margin-top: 5%
  }
  #visits{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color:darkblue;
    margin-left: 10%;
    margin-top: 1%
  }

  #message{
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: orangered;
    margin-left: 10%;
    margin-top: 30%;
    background-color:palegreen;
    padding: 8px;
    border-radius: 8px;
    
    font-size: 12px;
  }
  #graphic{
    height: 500px;;
    margin-left: 980px;
    margin-top: -375px;
    position: absolute;
  }
  #fs-toggle:not(:fullscreen) {
    background-color: #afa;
  }
  #fs-toggle:fullscreen {
    background-color: #faa;
  }